<button id="logout-button">Logout</button>
<h2 class="admin-dashboard-title">Admin Dashboard</h2>

<button id="update-information">Update Information</button>

<h3 class="section-title">Messages</h3>
<div class=" table-wrapper">
<table class="message-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
            <th>Received At</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody id="messages-body">
        {{#each messages}}
        <tr data-id="{{this._id}}">
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.message}}</td>
            <td>{{this.createdAt}}</td>
            <td>
                <button class="delete-message" data-id="{{this._id}}">Delete</button>
                <button class="message-star" data-id="{{this._id}}">
                    {{#if this.starred}}⭐{{else}}☆{{/if}}
                </button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>

<h3 class="section-title">Quote Requests</h3>
<div class="table-wrapper">
<table class="quote-requests-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Zip Code</th>
            <th>Service Type</th>
            <th>Frequency</th>
            <th>Notes</th>
            <th>Submitted At</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody id="quote-requests-body">
        {{#each quoteRequests}}
        <tr data-id="{{this._id}}">
            <td>{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.zip}}</td>
            <td>{{this.service}}</td>
            <td>{{this.frequency}}</td>
            <td>{{this.notes}}</td>
            <td>{{this.createdAt}}</td>

            
            <td>
                <button class="delete-quote" data-id="{{this._id}}">Delete</button>
                <button class="star" data-id="{{this._id}}">
                    {{#if this.starred}}⭐{{else}}☆{{/if}}
                </button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
<script src="/js/admin.js"></script>
